<div class="col-6 mx-5 mt-5 px-5">
    <h1 class="heading m-0">პირადი ინფო</h1>
    <img class="line" src="../../assets/Line 12.png" alt="line">    
    <form action="" [formGroup]="fillForm" (ngSubmit)="onSubmit()"> 
        <div class="row justify-content-between my-4">
            <div class="form-group col-5">
                <label for="name">სახელი</label>
                <div class="position-relative">
                    <input 
                        class="form-control"
                        type="text" 
                        id="name"
                        formControlName="name">
                    <img class="done" src="../../assets/done.png" alt="done">
                    <img class="error" src="../../assets/error.png" alt="error">
                    <small class="position-absolute form-text text-muted">მინიმუმ 2 ასო, ქართული ასოები</small>
                </div>
            </div>
            <div class="form-group col-5">
                <label for="surname">გვარი</label>
                <div class="position-relative">

                    <input 
                        class="form-control"
                        type="text"
                        id="surname"
                        formControlName="surname">
                    <img class="done" src="../../assets/done.png" alt="done">
                    <img class="error" src="../../assets/error.png" alt="error">
                    <small class="form-text text-muted">მინიმუმ 2 ასო, ქართული ასოები</small>
                </div>
            </div>
        </div>
        
        <div class="form-group my-4">
            <label for="photo">პირადი ფოტოს ატვირთვა</label>
            <input 
                class="form-control"
                type="file"
                id="photo"
                formControlName="photo">
        </div>
        <div class="form-group my-4">
            <label for="about">ჩემ შესახებ</label>
            <textarea 
                class="form-control"
                type="text"
                id="about"
                rows="4" 
                placeholder="ზოგადი ინფო შენ შესახებ"
                formControlName="about">>
            </textarea>
        </div>
        <div class="form-group my-4">
            <label for="email">ელ.ფოსტა</label>
            <div class="position-relative">
                <input 
                    class="form-control"   
                    type="email" 
                    id="email" 
                    placeholder="example@redberry.ge"
                    formControlName="email">
                <img class="done" src="../../assets/done.png" alt="done">
                <img class="error" src="../../assets/error.png" alt="error">
                <small class="form-text text-muted">უნდა მთავრდებოდეს @redberry.ge</small>
            </div>
        </div>
        <div class="form-group my-4">
            <label for="phoneNumber">მობილურის ნომერი</label>
            <div class="position-relative">
                <input 
                    class="form-control" 
                    type="tel" 
                    id="phoneNumber" 
                    placeholder="+995 551 12 34 56"
                    formControlName="phoneNumber">
                <img class="done" src="../../assets/done.png" alt="done">
                <img class="error" src="../../assets/error.png" alt="error">
                <small class="form-text text-muted">უნდა აკმაყოფილებდეს ქართული მობილური ნომრის ფორმატს</small>
            </div>
        </div>
        <button class="my-4">შემდეგი</button>
    </form>
</div>

