/* You can add global styles to this file, and also import other style files */
/* body {
    font-family: 'ArchyEDT-Bold', sans-serif;
} */
.heading {
    font-family: 'ArchyEDT-Bold', sans-serif;
}
.line {
    max-width: 100%;
    width: 100%;
}