.heading {
    font-family: 'ArchyEDT-Bold', sans-serif;
}
.line {
    max-width: 100%;
    width: 100%;
}
.nextButton {
    background-color: #6B40E3;
    font-size: 18px;
}
.previousButton {
    background-color: #6B40E3;
    font-size: 18px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
