<div class="container-fluid bg-image vh-100" style="background-image: url(../../assets/shutterstock_2189773743\ 1.png)">
    <img class="px-5 py-3" src="../../assets/LOGO-02 3.png" alt="redberry logo">
    <img class="px-5 line" src="../../assets/Line 12.png" alt="line">
    <div class="d-flex justify-content-center align-items-center h-75">
        <button class="px-5 py-2 bg-dark text-light rounded" [routerLink]="['/personal-info']">რეზიუმეს დამატება</button>
        <img class="stamp position-absolute" src="../../assets/LOGO-40 1.png" alt="stamp" >
    </div>
</div>